.navBar {
  $mainColor: #f27420;
  $secondaryColor: #2c234d;

  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  padding: 0 5rem;
  &__brandname {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: max(1.5rem, 3vw);
    font-weight: bolder;
    color: $mainColor;
    line-height: 4rem;
  }
  
  &__list {
    display: flex;
    column-gap: max(0.5rem, 1.2vw);
    justify-content: flex-end;
    // width: max(50%, 40rem);
    color: $secondaryColor;
    font-weight: bold;
    & li {
      list-style: none;
      &:hover {
        background-color: #f2742048;
      }
      & a {
        font-size: min(1rem, 1.8vw);
        line-height: 3rem;
        padding: auto 0.5rem;
        display: block;
        width: max-content;
        text-decoration: none;
        // color: black;
        color: $secondaryColor;
      }
    }
  }

  & > svg {
    position: absolute;
    right: 2rem;
    top: 1.25rem;
    display: none;
    transition-delay: 2s;
  }
}

.active > a {
  text-decoration: none;
  color: green;
}

@media screen and (max-width: 640px) {
  .navBar {
    &__brandname {
      background-color: rgb(189, 223, 211);
      margin-left: 2rem;
    }
    &__list {
      background-color: rgb(189, 223, 211);
      position: absolute;
      top: 4rem;
      right: 0rem;
      width: 30%;
      min-width: 12rem;
      height: 96vh;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.4s ease-in;
      & li {
        margin: 1.5rem auto;
        opacity: 0;
        & a {
          text-decoration: none;
          color: black;
          font-size: 1.4rem;
        }
      }
    }
  }
  .navBar svg {
    display: block;
    &:hover {
      cursor: pointer;
    }
  }

  .navBarListToggle {
    transform: translateX(0%);
  }
}

.liToggle {
  animation-name: listAnimation;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes listAnimation {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
