.blogsPage {
  $mainBgColor: #c5d8d6;
  $mainColor: #f27420;
  $secondaryColor: #2c234d;
  //
  position: relative;
  top: 4.1rem;
  margin-bottom: 4rem;
  background-color: hsl(174, 30%, 95%);
  padding-bottom: 1rem;
  z-index: 0;
  &__headerImg {
    // overflow: hidden;
    height: 60vh;
    background-image: url("../../img/headerImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    & h2 {
      width: 100%;
      line-height: 60vh;
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;
      font-size: 3rem;
      font-weight: bolder;
      text-align: center;
    }
  }

  &__reviews{
    margin-top: 40vh;
    margin-bottom: 40vh;
    padding: 0rem 10rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    gap: 1rem 1rem;
  }
}
@media screen and(max-width: 640px) {
  .blogsPage {
    &__reviews {
      padding: 5vw;
    }
  }
}
@media screen and(max-width: 930px) and (min-width: 641px) {
  .blogsPage {
    &__reviews {
      padding: 5vw;
    }
  }
}