.mainPage {
  $mainBgColor: hsl(174, 20%, 81%);

  //
  position: relative;
  top: 4.1rem;
  margin-bottom: 4rem;
  background-color: hsl(174, 30%, 95%);
  padding-bottom: 1rem;
  z-index: -2;
  &__bgImage {
    height: calc(100vh - 10rem);
    background-image: url("../../img/pexels-sergei-akulich-2539462.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    & h1 {
      color: white;
      line-height: 4rem;
      width: 55vw;
      text-align: center;
      font-family: "Lora", sans-serif;
      font-size: italic;
      font-size: 3rem;
      font-weight: bolder;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 0.2rem;
    }
  }

  &__topicShortcut {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    margin-top: 2rem;
    place-items: center;
    .shortcut {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 1rem;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 1rem;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
      width: 45rem;
      height: 15rem;
      overflow: hidden;
      img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 14rem;
        height: inherit;
      }
      a {
        padding: 0.5rem;
        text-decoration: none;
        color: black;
        display: grid;
        grid-template-rows: 3fr 7fr;
        h1 {
          text-decoration: underline;
          font-size: 1.3rem;
          font-family: "Varela Round", sans-serif;
          &::first-letter {
            font-size: 3rem;
            font-weight: bold;
          }
        }
        p {
          color: hsl(0, 0%, 30%);
          font-size: 1.1rem;
        }
      }
    }
  }

  &__intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10rem;
    padding: 5rem 3rem;
  }
  &__introText {
    width: 100%;
    & h2{
      font-size: 2.5rem;
      font-weight: bolder;
      color: #2c234d;
    }
    & p{
      font-size: 1.2rem;
      margin-top: 2rem;
      text-align: justify;
      color: #4d4a58;
    }
    & p:nth-child(2){
      font-size: 1.5rem;
      margin-top: 4rem;
      font-weight: bold;
      color: #2c234d;
    }
    & a{
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: white;
      background-color: #2c234d;
      width: 10rem;
      line-height: 3rem;
      text-align: center;
      font-size: 1.2rem;
      margin-top: 20rem;
      margin-left: 3rem;
    }
    & a::before{
      content: '';
      width: 10rem;
      height: 3rem;
      position: absolute;
      background: #f27420;
      top: 10px;
      left: -8px;
      z-index: -1;
      transition: all ease-out 0.4s;
    }
    & a:hover::before{
      top: -10px;
    }
  }
  &__introImg {
    
    & > img {
      display: block;
      width: 70%;
      height: 80%;
      object-fit: cover;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__introCard{
    background-color: #f27420;
    color: #fff;
    position: absolute;
    z-index: 1;
    width: 20rem;
    height: 12rem;
    transform: translate(-15%,-200%);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.1);
    & > h2{
      font-size: 1.4rem;
      font-weight: bold;
    }
    & > p{
      margin-top: 0.8rem;
      font-size: 1rem;
    }
  }
}
