.aboutPage{
  $mainBgColor: #c5d8d6;
  $mainColor: #f27420;
  $secondaryColor: #2c234d;
  //
  position: relative;
  top: 4.1rem;
  margin-bottom: 4rem;
  background-color: hsl(174, 30%, 95%);
  padding-bottom: 1rem;
  z-index: 0;
  &__headerImg{
    // overflow: hidden;
    height: 60vh;
    background-image: url('../../img/headerImage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    & h2{
      width: 100%;
      line-height: 60vh;
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;
      font-size: 3rem;
      font-weight: bolder;
      text-align: center;
    }
  }

  &__intro {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding-inline: min(5rem, 6vw);
    margin-top: 20vh;
  }
  &__introText {
    flex: 1 2 auto;
    & h2 {
      font-size: max(1.5rem, 2.5vw);
      font-weight: bolder;
      color: #2c234d;
    }
    & p {
      font-size: max(1rem, 1.2vw);
      margin-top: 3%;
      line-height: 110%;
      color: #4d4a58;
    }
    & p:nth-child(2) {
      font-size: max(1.2rem, 2.1vw);
      margin-top: 4%;
      font-weight: bold;
      color: #2c234de0;
    }
    & a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: white;
      background-color: #2c234d;
      width: 10rem;
      line-height: 3rem;
      text-align: center;
      font-size: 1.2rem;
      margin-top: 3%;
      margin-left: 3rem;
    }
    & a::before {
      content: "";
      width: 10rem;
      height: 3rem;
      position: absolute;
      background: $mainColor;
      top: 10%;
      left: -8%;
      z-index: -1;
      transition: all ease-out 0.3s;
    }
    & a:hover::before {
      top: -15%;
      left: -4%;
    }
  }
  &__introImg {
    display: block;
    position: relative;
    flex: 2 1 auto;
    & > img {
      display: block;
      width: 100%;
      object-fit: cover;
      z-index: 0;
      margin-left: auto;
      margin-right: 0;
    }
  }
  &__introCard {
    background-color: $mainColor;
    color: #fff;
    position: absolute;
    display: block;
    z-index: 1;
    width: 90%;
    top: 50%;
    left: -1vw;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
    & > h2 {
      font-size: min(3rem, 5vw);
      font-weight: bold;
    }
    & > p {
      color: #eee;
      margin-top: 0.8rem;
      font-size: min(1rem, 4vw);
    }
  }

  &__members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    padding-inline: min(5rem, 6vw);
    // padding: 5rem 5rem;
    margin-top: 20vh;
    margin-bottom: 40vh;
    & .description {
      position: relative;
      padding: 3%;
      & h2 {
        font-size: max(1.3rem, 3vw);
        // line-height: 3.5rem;
        font-weight: bolder;
        color: #2c234d;
      }
      & p {
        font-size: max(0.8rem, 2vw);
        // line-height: 1.8rem;
        margin-top: 10%;
        text-align: justify;
        color: #2c234d;
      }
      & a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: white;
        background-color: #2c234d;
        width: min(10rem, 20vw);
        line-height: min(3rem, 6.5vw);
        text-align: center;
        font-size: min(1.2rem, 3.5vw);
        margin-top: 10%;
        margin-left: 5%;
      }
      & a::before {
        content: "";
        width: min(10rem, 20vw);
        height: min(3rem, 6.5vw);
        position: absolute;
        background: $mainColor;
        top: 10%;
        left: -8%;
        z-index: -1;
        transition: all ease-out 0.3s;
      }
      & a:hover::before {
        top: -15%;
        left: -4%;
      }
    }
    & .singleMember {
      z-index: 0;
      position: relative;
      &__img {
        overflow: hidden;
      }
      & img {
        width: 100%;
        object-fit: cover;
        transition: all ease-out 0.4s;
      }
      &:hover img {
        transform: rotate(1deg) scale(1.1);
      }

      &__info {
        position: absolute;
        bottom: 3rem;
        left: 3rem;
        color: #fff;
        & h2 {
          font-size: max(2rem, 4vw);
          font-weight: bolder;
          margin-bottom: 2rem;
        }
        & h3 {
          font-size: max(1.5rem, 2vw);
          color: #eee;
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .aboutPage {
    &__intro {
      padding: 0.5rem;
      flex-direction: column;
      row-gap: 3rem;
    }
    &__introImg {
      & > img {
        height: 60vh;
      }
    }

    &__introCard {
      left: 2rem;
      width: 90%;
    }
  }
}