.form-signin {
  $mainBgColor: #c5d8d6;
  $mainColor: #f27420;
  $secondaryColor: #2c234d;

  position: relative;
  top: 4.1rem;
  height: 100%;
  background-image: url("../../img/pexels-sergei-akulich-2539462.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  &__group {
    z-index: 3;
    margin-bottom: 2rem;
    & * {
      display: block;
    }
    & button{
      font-size: 1.2rem;
      line-height: 2rem;
      height: 2rem;
      font-weight: bold;
      width: 15vw;
      background-color: $mainColor;
      color: #ddd;
      border: none;
      border-radius: 0.5rem;
      transition: all ease-out 0.2s;
    }
    & button:hover{
      background-color: $secondaryColor;
      color: $mainColor;
      width: 14vw;
      cursor: pointer;
    }

    & a{
      color: $secondaryColor;
      background-color: #ccc;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: bold;
      width: 10vw;
      text-align: center;
      text-decoration: none;
      transition: all ease-out 0.2s;
      border-radius: 0.5rem;
    }
    & a:hover{
      color: $mainColor;
      background-color: $secondaryColor;
      width: 11rem;
    }
  }
  &__label {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.5rem;
    text-align: center;
    color: $secondaryColor;
    margin-bottom: 1.3rem;
  }
  &__input {
    font-size: 1.3rem;
    line-height: 1.4rem;
    text-indent: 0.5rem;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.3rem;
  }
  & hr{
    z-index: 3;
    background-color: #ccc;
    border: none;
    height: 0.1rem;
    width: 20vw;
    margin-bottom: 2rem;
  }
}

.form-signin::before {
  z-index: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.form-signin::after {
  z-index: 2;
  content: "";
  position: absolute;
  width: 30vw;
  height: 70vh;
  background-color: #ececec;
  border-radius: 0.2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
