.footer {
  $mainColor: #f27420;
  $secondaryColor: #010b1d;
  border-top: solid #ccc 1px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  //
  &__content {
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__container {
    display: block;
    position: relative;
    & hr {
      display: none;
    }
    & h2 {
      text-transform: uppercase;
      font-size: 1rem;
    }
    & ul li a {
      display: block;
      text-decoration: none;
      color: $secondaryColor;
      font-weight: 300;
      margin-bottom: 2%;
      &:hover {
        color: #010b1d65;
      }
    }
  }
  &__dropdown{
    transition: all ease-out 0.3s;
  }

  &__designerInfo {
    background-color: hsl(76, 20%, 81%);
    padding: 1rem;
    display: grid;
    place-items: center;
    & > a {
      & > svg {
        margin-right: 0.2rem;
      }
      & > p {
        margin-left: 0.2rem;
        display: inline-block;
      }
    }
  }
}
.dropdown-toggle {
  display: none;
  position: absolute;
  font-size: 2rem;
  width: 2rem;
  text-align: center;
  border-radius: 50%;
  transition: all ease-out 0.3s;
}

@media screen and (max-width: 640px) {
  .footer {
    &__container {
      margin-bottom: 1%;

      & hr {
        display: block;
      }
    }
    &__content {
      padding-inline: 1rem;
      flex-direction: column;
      display: block;
    }
    &__dropdown {
      position: relative;
      transform: translateY(-100%);
      opacity: 0;
      display: none;
    }
  }

  .dropdown-toggle {
    display: block;
    position: absolute;
    color: #010b1d59;
    right: 0;
    top: 0;
    &:hover {
      cursor: pointer;
      color: #010b1d;
    }
  }
  
}
.rotate-toggle{
  transform: rotate(45deg);
}
.dropdown-active {
  transform: translateY(0);
  opacity: 1;
  display: block;
}